
{% load static %}
<li>
  <article class="post">
    <a href="{% url "post-detail-page" "the-mountains" %}">
      <img src="{% static 'blog/images/'|add:post.image %}" alt="{{post.title}}">
      <div class="post__content">
        <h3>{{post.title}}</h3>
        <p>
          {{post.excerpt}}
        </p>
      </div>
    </a>
  </article>
</li>



<!--    
<li>

	{% load static %}	
	<li>
	  <article>
    <a href="{% url 'starting_page' %}">
	      <img src="{% static 'blog/images/mountain.png' %}" alt="Mountain Hiking">
	      <div class="post_content">
       <h3>Mountain Hiking</h3>
       <p>There is no activity in this world as satisfying as hill climbing.</p>
	      </div>
    </a>
	  </article>
	</li>

  
      <article class="post">
        <a href="">
          <img src="" alt="Mountain Hiking" />
          <div class="post__content">
            <h3>Mountain Hiking</h3>
            <p>
              There's nothing like the views you get when hiking in the
              mountains! And I wasn't even prepared for what happened whilst I
              was enjoying the view!
            </p>
          </div>
        </a>
      </article>
</li>   -->