{% extends "base.html" %}
{% load static %}

{% block title %} My Blog {% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}

  
  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/joker.jpg' %}" width="250px" height="130px" alt="Moorthy 's blog">
      <h2>MOORTHY 's BLOG</h2>
    </header>
    <p>My Name is Moorthy and this Blog is about my Interests</p>
  </section>


  <section id="latest-posts">
    <h2>My Latest Posts</h2>
    {% for post in posts %}
       <ul>
            {% include 'blog/includes/post.html' %}
      </ul>
    {% endfor %}
  </section>

  {% comment%}
   <ul>
        {% include 'blog/includes/post.html' %}
    </ul>
  {% endcomment%}

  <section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love to help others and I enjoy exploring new
    technologies in general!
  </p>
  <p>
    My goal is to keep on growing as a developer - and if I could help you do
    the same, I'd be very happy!
  </p>
</section>

{% endblock %}
















{% comment %}


$$$$$$$$$$$$$$$$$$$$$$$$$

{% extends "base.html" %} 
{% load static %}

{% block title %} My Blog {% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/static/post.css' %}" />
  <link rel="stylesheet" href="{% static  'blog/static/index.css' %}" />
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static 'blog/images/joker.jpg' %}" alt="Max - The Author Of This Blog" />
    <h2>MAXIMILIAN'S BLOG</h2>
  </header>
  <p>Hi, I am Max and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% include "blog/includes/post.html" %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love to help others and I enjoy exploring new
    technologies in general!
  </p>
  <p>
    My goal is to keep on growing as a developer - and if I could help you do
    the same, I'd be very happy!
  </p>
</section>
{% endblock %}



$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4

{% extends "base.html" %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
  <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static 'blog/images/joker.jpg' %}" width="250px" height="200px" alt="Joker's photo">
    <h2>Moorthy's Blog</h2>
  </header>
  <p>Welcome to My Blog</p>
</section>

<section id="latest-posts">
  <ul>
    {% include 'blog/post-detail.html' %}

  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>I love programming, I love to help others and I enjoy exploring new
    technologies in general!</p>

  <p>My goal is to keep on growing as a developer - and if I could help you do
    the same, I'd be very happy!</p>
</section>

{% endblock %}
{% endcomment %}
